<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>

<form    action="/" method="POST"> 

<script>
var ExcelToJSON = function() {
  this.parseExcel = function(file) {
          var reader = new FileReader();
          reader.onload = function(e) {
                var data = e.target.result;
                var workbook = XLSX.read(data, {type: 'binary'});
                workbook.SheetNames.forEach(function(sheetName) {
                      var XL_row_object = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
                      var json_object1 = JSON.stringify(XL_row_object);
                      window.bar1 = json_object1;               

                      (jQuery( '#xlx_json' ).val( json_object1 ));})};

          reader.onerror = function(ex) {
            console.log(ex);};
          
          reader.readAsBinaryString(file);};}

          

var ExcelToJSON1 = function() {
  this.parseExcel = function(file) {
          var reader = new FileReader();
          reader.onload = function(e) {
          var data = e.target.result;
          var workbook = XLSX.read(data, {type: 'binary'});
          workbook.SheetNames.forEach(function(sheetName) {
                          var XL_row_object = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
                          var json_object2 = JSON.stringify(XL_row_object);
                          
                          window.bar2 = json_object2;
                                  
                    

                                 json1 = JSON.parse(bar1);
                                 json2 = JSON.parse(bar2);

           //******************************************************************************************************************
                                  var people=-1;
                                  for(var i=0; i<Object.keys(json1).length;i++){
                                        people = people +1;
                                        var count=0;
                                        for(var j=0; j<Object.keys(json2).length;j++){
                                              count=count+1;
                                            if((json1[people]["name"]!=json2[j]["Participants"]) && (count == Object.keys(json2).length)){
                                                  console.log(json1[i]["name"]);
                                                  var output = json1[i]["name"]+"-"+json1[i]["Register"]
                                                  var btn = document.createElement('div');
                                                  btn.id = 'dataa1';
                                                  btn.name = 'name1';
                                                  btn.style.backgroundColor = "cyan";
                                                  var newContent = document.createTextNode(output);
                                                  btn.appendChild(newContent); 
                                                  document.body.appendChild(btn);
                                                }
                                            else if((json1[people]["name"]==json2[j]["Participants"])){
                                                  break; }                                                                                                                      
                                    }      }
                            
                            jQuery( '#xlx1_json' ).val(json_object2);
                          })};

          reader.onerror = function(ex) {
                console.log(ex);};
          reader.readAsBinaryString(file);};};
                
                
function handleFileSelect(evt) {
        var files = evt.target.files; 
        var xl2json = new ExcelToJSON();
        xl2json.parseExcel(files[0]); }
  
  function handleFileSelect1(evt) {
          var files = evt.target.files; 
          var xl2json = new ExcelToJSON1();
          xl2json.parseExcel(files[0]);}








</script>
<body style="position:relative; background-color:bisque">
<div class="div-1">
  <h1>Choose the Class Data</h1>
  <h3 style="position:fixed; margin-left:75%; margin-top:39%;">Contact: 19pa1a0503@vishnu.edu.in</h3>
  <h1 style="position:fixed; margin-left:60%; margin-top:-3%;">Choose the Attendance Data</h1>
<input id="upload1" type=file  name="file1">
<input style="position:absolute; margin-left: 39.7%;" id="upload2" type=file  name="file2">
</div>
<!-- &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; -->


<textarea class="form-control" rows=25 cols=95 id="xlx_json"></textarea>
<textarea style="margin-left:10%; position:absolute;" class="form-control" rows=25 cols=95 id="xlx1_json"></textarea>
</body>
<script>


  document.getElementById('upload1').addEventListener('change', handleFileSelect, false)
  document.getElementById('upload2').addEventListener('change', handleFileSelect1, false)

</script>

</form>

