  <html>
  <style>
     .pubg{background-image:url(https://i.ibb.co/5MKxBqH/2020-pubg-4k-game-oi.jpg); height:110%; background-repeat:no-repeat; background-size:cover; position:fixed; }
     .butt{margin-left: 640px; background-color: aqua; transform: scale(1.4); border-radius:5px;}
      .log{margin-left: 700px; background-color:darkturquoise; transform: scale(1.4); border-radius: 30px; }
  </style>
    <body  class="pubg"> 
      <form name="myform"  onsubmit="validpass()"  >
        <br><br><br>  <br><br><br> <br><br><br>  <br><br><br>
           <input class="butt" type="text/javascript" placeholder=" Username" name="user"> <br><br>
                <input class="butt" type="password" placeholder=" Password" name="pass">  <br><br><br>
    <button type="submit" class="log" onclick="log()" > Login </button>  
<script> 
        function validpass(){
          var username=document.myform.user.value;
          var password=document.myform.pass.value;
        // alert(password.length)
          if(password.length<6){
              alert("Password must contain atleast 6 letters");
            location.replace("main.html");

          }
          else{
            location.replace("contact.html");
          }
          
          }       
    </script>
   </body>
</html>